<DOCTYPE = html>
<html lang = "en-US">
<head>
	<title> RUSniping?</title>
</head>
<body>
	<form method ="POST" action = "/sniped"/>
		<fieldset>
			<legend> Submit your snipes here </legend>
			Twitter Handle: <input name = "handle" type ="text" placeholder= "Whats your @"/>
			Subject Code: <input name = "subCode" type = "text" placeholder = "ex 198 for computer science"/>
			Course Code: <input name = "courCode" type = "text" placeholder = "ex 152 for calc II"/>
			Section Number: <input name = "secCode" type = "text" placeholder = "ex 01, 02, 10"/>
		</fieldset>
		<input type = "submit" value ="Set Snipe"/>
	</form>
</body>
</html>
